<% was_validated = actor.errors.any? %>

<%= form_with(model: actor, local: true, novalidate: true, class: "mb-3") do |f| %>
  <div class="form-group">
    <% actor_name_class = "form-control" %>
    <% actor_name_was_invalid = actor.errors.include?(:actor_name) %>

    <% if was_validated %>
      <% if actor_name_was_invalid %>
        <% actor_name_class << " is-invalid" %>
      <% else %>
        <% actor_name_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :actor_name %>
    <%= f.text_field :actor_name, class: actor_name_class, placeholder: "Enter actor name" %>
    <% if actor_name_was_invalid %>
      <% actor.errors.full_messages_for(:actor_name).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% starred_in_class = "form-control" %>
    <% starred_in_was_invalid = actor.errors.include?(:starred_in) %>

    <% if was_validated %>
      <% if starred_in_was_invalid %>
        <% starred_in_class << " is-invalid" %>
      <% else %>
        <% starred_in_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :starred_in_id %>
    <%= f.collection_select :starred_in_id, Movie.all, :id, :to_s, {}, class: "form-control" %>
    <% if starred_in_was_invalid %>
      <% actor.errors.full_messages_for(:starred_in).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% actor_dob_class = "form-control" %>
    <% actor_dob_was_invalid = actor.errors.include?(:actor_dob) %>

    <% if was_validated %>
      <% if actor_dob_was_invalid %>
        <% actor_dob_class << " is-invalid" %>
      <% else %>
        <% actor_dob_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :actor_dob %>
    <%= f.date_select :actor_dob, class: actor_dob_class, placeholder: "Enter actor dob" %>
    <% if actor_dob_was_invalid %>
      <% actor.errors.full_messages_for(:actor_dob).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% actor_bio_class = "form-control" %>
    <% actor_bio_was_invalid = actor.errors.include?(:actor_bio) %>

    <% if was_validated %>
      <% if actor_bio_was_invalid %>
        <% actor_bio_class << " is-invalid" %>
      <% else %>
        <% actor_bio_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :actor_bio %>
    <%= f.text_field :actor_bio, class: actor_bio_class, placeholder: "Enter actor bio" %>
    <% if actor_bio_was_invalid %>
      <% actor.errors.full_messages_for(:actor_bio).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% actor_image_class = "form-control" %>
    <% actor_image_was_invalid = actor.errors.include?(:actor_image) %>

    <% if was_validated %>
      <% if actor_image_was_invalid %>
        <% actor_image_class << " is-invalid" %>
      <% else %>
        <% actor_image_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :actor_image %>
    <%= f.file_field :actor_image, class: "form-control" %>
    <% if actor_image_was_invalid %>
      <% actor.errors.full_messages_for(:actor_image).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
