<% was_validated = movie.errors.any? %>

<%= form_with(model: movie, local: true, novalidate: true, class: "mb-3") do |f| %>
  <!-- Label and input for movie_title start -->
  <div class="form-group">
    <% movie_title_class = "form-control" %>
    <% movie_title_was_invalid = movie.errors.include?(:movie_title) %>

    <% if was_validated %>
      <% if movie_title_was_invalid %>
        <% movie_title_class << " is-invalid" %>
      <% else %>
        <% movie_title_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :movie_title %>
    <!-- Input for movie_title start -->
    <%= f.text_field :movie_title, class: movie_title_class, placeholder: "Enter movie title" %>
    <!-- Input for movie_title end -->
    <% if movie_title_was_invalid %>
      <% movie.errors.full_messages_for(:movie_title).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for movie_title end -->
  <!-- Label and input for release_date start -->
  <div class="form-group">
    <% release_date_class = "form-control" %>
    <% release_date_was_invalid = movie.errors.include?(:release_date) %>

    <% if was_validated %>
      <% if release_date_was_invalid %>
        <% release_date_class << " is-invalid" %>
      <% else %>
        <% release_date_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :release_date %>
    <!-- Input for release_date start -->
    <%= f.date_select :release_date, class: release_date_class, placeholder: "Enter release date" %>
    <!-- Input for release_date end -->
    <% if release_date_was_invalid %>
      <% movie.errors.full_messages_for(:release_date).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for release_date end -->
  <!-- Label and input for movie_duration start -->
  <div class="form-group">
    <% movie_duration_class = "form-control" %>
    <% movie_duration_was_invalid = movie.errors.include?(:movie_duration) %>

    <% if was_validated %>
      <% if movie_duration_was_invalid %>
        <% movie_duration_class << " is-invalid" %>
      <% else %>
        <% movie_duration_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :movie_duration %>
    <!-- Input for movie_duration start -->
    <%= f.text_field :movie_duration, class: movie_duration_class, placeholder: "Enter movie duration" %>
    <!-- Input for movie_duration end -->
    <% if movie_duration_was_invalid %>
      <% movie.errors.full_messages_for(:movie_duration).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for movie_duration end -->
  <!-- Label and input for movie_description start -->
  <div class="form-group">
    <% movie_description_class = "form-control" %>
    <% movie_description_was_invalid = movie.errors.include?(:movie_description) %>

    <% if was_validated %>
      <% if movie_description_was_invalid %>
        <% movie_description_class << " is-invalid" %>
      <% else %>
        <% movie_description_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :movie_description %>
    <!-- Input for movie_description start -->
    <%= f.text_field :movie_description, class: movie_description_class, placeholder: "Enter movie description" %>
    <!-- Input for movie_description end -->
    <% if movie_description_was_invalid %>
      <% movie.errors.full_messages_for(:movie_description).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for movie_description end -->
  <!-- Label and input for director_id start -->
  <div class="form-group">
    <% director_class = "form-control" %>
    <% director_was_invalid = movie.errors.include?(:director) %>

    <% if was_validated %>
      <% if director_was_invalid %>
        <% director_class << " is-invalid" %>
      <% else %>
        <% director_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :director_id %>
    <!-- Input for director_id start -->
    <%= f.number_field :director_id, class: director_class, placeholder: "Enter director" %>
    <!-- Input for director_id end -->
    <% if director_was_invalid %>
      <% movie.errors.full_messages_for(:director).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for director_id end -->
  <!-- Label and input for movie_image start -->
  <div class="form-group">
    <% movie_image_class = "form-control" %>
    <% movie_image_was_invalid = movie.errors.include?(:movie_image) %>

    <% if was_validated %>
      <% if movie_image_was_invalid %>
        <% movie_image_class << " is-invalid" %>
      <% else %>
        <% movie_image_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :movie_image %>
    <!-- Input for movie_image start -->
    <%= f.file_field :movie_image, class: "form-control" %>
    <!-- Input for movie_image end -->
    <% if movie_image_was_invalid %>
      <% movie.errors.full_messages_for(:movie_image).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for movie_image end -->
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
