<%= form_with(model: @actor, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :actor_name %>

    <%= f.text_field :actor_name, class: "form-control" %>
  </div>

  <%= f.hidden_field :starred_in_id, value: @movie.id %>

  <div class="form-group">
    <%= f.label :actor_dob %>

    <%= f.date_select :actor_dob, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :actor_bio %>

    <%= f.text_field :actor_bio, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :actor_image %>

    <%= f.file_field :actor_image, class: "form-control" %>
  </div>

  <%= f.submit "Create actor", class: "btn btn-block btn-outline-secondary" %>
<% end %>
