<%= form_with(model: @movie, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :movie_title %>

    <%= f.text_field :movie_title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :release_date %>

    <%= f.date_select :release_date, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :movie_duration %>

    <%= f.text_field :movie_duration, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :movie_description %>

    <%= f.text_field :movie_description, class: "form-control" %>
  </div>

  <%= f.hidden_field :director_id, value: @director.id %>

  <div class="form-group">
    <%= f.label :movie_image %>

    <%= f.file_field :movie_image, class: "form-control" %>
  </div>

  <%= f.submit "Create movie", class: "btn btn-block btn-outline-secondary" %>
<% end %>
