<% was_validated = director.errors.any? %>

<%= form_with(model: director, local: true, novalidate: true, class: "mb-3") do |f| %>
  <div class="form-group">
    <% director_name_class = "form-control" %>
    <% director_name_was_invalid = director.errors.include?(:director_name) %>

    <% if was_validated %>
      <% if director_name_was_invalid %>
        <% director_name_class << " is-invalid" %>
      <% else %>
        <% director_name_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :director_name %>
    <%= f.text_field :director_name, class: director_name_class, placeholder: "Enter director name" %>
    <% if director_name_was_invalid %>
      <% director.errors.full_messages_for(:director_name).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% director_dob_class = "form-control" %>
    <% director_dob_was_invalid = director.errors.include?(:director_dob) %>

    <% if was_validated %>
      <% if director_dob_was_invalid %>
        <% director_dob_class << " is-invalid" %>
      <% else %>
        <% director_dob_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :director_dob %>
    <%= f.text_field :director_dob, class: director_dob_class, placeholder: "Enter director dob" %>
    <% if director_dob_was_invalid %>
      <% director.errors.full_messages_for(:director_dob).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% director_bio_class = "form-control" %>
    <% director_bio_was_invalid = director.errors.include?(:director_bio) %>

    <% if was_validated %>
      <% if director_bio_was_invalid %>
        <% director_bio_class << " is-invalid" %>
      <% else %>
        <% director_bio_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :director_bio %>
    <%= f.text_field :director_bio, class: director_bio_class, placeholder: "Enter director bio" %>
    <% if director_bio_was_invalid %>
      <% director.errors.full_messages_for(:director_bio).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
